html
  head
    title='Kubernetes Cluster'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Kubernetes Cluster
        p Destroy this pod
        p 
          a.btn.btn-primary(href="http://www.starbucks.com") Destroy
        p
